#right {   
	position:absolute; 
	width:415px;
	height:700px;
	bottom:15px;
	margin-left:auto; 
	margin-right:auto; 
} 

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("plazaPrincipal.png");
  background-size:cover; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  min-height: 100vh;
  padding: 20px;
  background-color:black; 

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 15px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: black;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}


.first { 
		width: 1530px;
		height: 150px;
		background: white;
		position:absolute;
		bottom:2px;
		margin-left:auto; 
		margin-right:auto; 
		border-color:black; 
		border:10px; 
    }
