/* Body of the game, change when the gamer change of place with the parameters black and none */

body
{
	background-image: url("personnage.jpg");
	background-size:cover; 
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
	text-align:center; 
}


#perso h1
{
	color:black; 
	font-family : "Apple Chancery", cursive; 
	text-align:center; 
}

#perso #p1
{ 
	color:black; 
	font-family : "Apple Chancery", cursive;
	float:left; 
	margin:100px 0px 30px 550px;  
} 
		
#perso #p2
{ 	color:black; 
	font-family : "Apple Chancery", cursive;
	float:right; 
	margin:100px 550px 30px 0px; 
}

#perso h2
{
	color:black; 
	font-family : "Apple Chancery", cursive; 
	text-align:center; 
}

#perso #p3
{ 	color:black; 
	font-family : "Apple Chancery", cursive; 
	height:41px;
	width:51px;
	margin-left:620px; 
}

#perso #p4
{ 	color:black; 
	font-family : "Apple Chancery", cursive; 
	height:41px;
	width:51px;
	margin-left:850px; 
}

#inputName p{
	color: #FFFFFF;
}	

#storyOne button{
	
	color:black; 
	font-family : "Apple Chancery", cursive; 
	text-align:center; 	
	position:absolute; 
	bottom:20px; 
	right:10px; 
}


#storyEnd .container {
padding: 50px;
display: block; 
}
#storyEnd button,
button::after {
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
#storyEnd button {
background: none;
border: 4px solid #fff;
border-radius: 10px;
color: #fff;
display: block;
font-size: 1.6em;
font-weight: bold;
margin: 50px auto;
padding: 2em 6em;
position: relative;
text-transform: uppercase;
}
#storyEnd button::before,
button::after {
background: #fff;
content: '';
position: absolute;
z-index: -1;
}
#storyEnd button:hover {
color: #F0E68C;
}

#storyEnd .button2::after {
height: 100%;
left: 0;
top: 0;
width: 0;
}
#storyEnd .button2:hover:after {
width: 100%;
}

#storyEnd #right {   
position:absolute;
width:178px;
height:300px;
bottom:30px;
right:80px;
} 
#storyEnd #bottom {   
position:absolute;
width:116px;
height:50px;
bottom:260px;
right:160px;
}   



#rightPlaza {   
position:absolute;
width:178px;
height:300px;
bottom:30px;
right:80px;
} 
#bottomPlaza {   
position:absolute;
width:116px;
height:50px;
bottom:260px;
right:160px;
}   


#plazaPrincipal .button {
padding: 15px 20px;
color: #ffffff;
font-family: sans-serif;
text-transform: uppercase;
text-align: center;
position: absolute;
text-decoration: none;
display:inline-block;
bottom:275px;
right:245px;
}
.button{
border:1px solid transparent; 
-webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
.button::before {
content: '';
position: absolute;
left: 0px;
bottom:0px;
z-index:-1;
width: 0%;
height:1px;
background: #003177;
box-shadow: inset 0px 0px 0px #b6cdef;
display: block;
-webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.button:hover::before {
width:100%;
}
.button::after {
content: '';
position: absolute;
right: 0px;
top:0px;
z-index:-1;
width: 0%;
height:1px;
background: #a9c1e8;
-webkit-transition: all 0.4s cubic-bezier(.7, .25, 0, 1);
transition: all 0.4s cubic-bezier(.7, .25, 0,1)
}
.button:hover::after {
width:100%;
}
.button:hover{
border-left:1px solid #b6cdef;
border-right:1px solid #6098FF;
}


#center {   
	position:absolute; 
	width:415px;
	height:700px;
	bottom:1px;
	left:550px; 
} 

/* reset */
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 10px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: black;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}

.first { 
		width: 1530px;
		height: 150px;
		background: white;
		position:absolute;
		bottom:2px;
		margin-left:auto; 
		margin-right:auto; 
		border-color:black; 
		border:10px; 
    }

.next{
	
	color:black; 
	font-family : "Apple Chancery", cursive; 
	text-align:center; 	
	position:absolute; 
	bottom:20px; 
	right:10px; 
}

#intimachay button{
	 
	color: black; 
	padding: 30px 40px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:600px; 
	background-color: #0c76b2; 
}
#intimachay #rightIntimachay {   
position:absolute;
width:178px;
height:300px;
bottom:115px;
left:80px;
} 
#intimachay #bottomIntimachay{   
position:absolute;
width:116px;
height:50px;
bottom:360px;
left:150px;
}   

#intimachay .button {
padding: 15px 20px;
color: #ffffff;
font-family: sans-serif;
text-transform: uppercase;
text-align: center;
position: absolute;
text-decoration: none;
display:inline-block;
bottom:375px;
left:235px;
}

#intihuatana button{
	 
	color: black; 
	padding: 30px 40px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:600px; 
	background-color: #0c76b2; 
}

#intihuatana #rightIntihuatana {   
position:absolute;
width:178px;
height:300px;
bottom:25px;
left:20px;
} 
#intihuatana #bottomIntihuatana{   
position:absolute;
width:116px;
height:50px;
bottom:260px;
left:100px;
}   
#intihuatana .button {
padding: 15px 20px;
color: #ffffff;
font-family: sans-serif;
text-transform: uppercase;
text-align: center;
position: absolute;
text-decoration: none;
display:inline-block;
bottom:275px;
left:185px;
}
#rocaSagrada button{
	 
	color: black; 
	padding: 30px 40px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:600px; 
	background-color: #0c76b2; 
}

#rocaSagrada #rightRoca {   
position:absolute;
width:178px;
height:300px;
bottom:100px;
left:150px;
} 
#rocaSagrada #bottomRoca{   
position:absolute;
width:116px;
height:50px;
bottom:310px;
left:240px;
}   
 
#rocaSagrada .button {
padding: 15px 20px;
color: #ffffff;
font-family: sans-serif;
text-transform: uppercase;
text-align: center;
position: absolute;
text-decoration: none;
display:inline-block;
bottom:325px;
left:325px;
}
#temploTresVentanas button{
	 
	color: black; 
	padding: 30px 40px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:600px; 
	background-color: #0c76b2; 
}

#temploTresVentanas #rightTemplo{   
position:absolute;
width:208px;
height:300px;
bottom:30px;
right:380px;
} 
#temploTresVentanas #bottomTemplo{   
position:absolute;
width:116px;
height:50px;
bottom:290px;
right:465px;
}
#temploTresVentanas .button {
padding: 15px 20px;
color: #ffffff;
font-family: sans-serif;
text-transform: uppercase;
text-align: center;
position: absolute;
text-decoration: none;
display:inline-block;
bottom:305px;
right:550px;
}
#right {   
position:absolute;
width:50px;
height:50px;
bottom:90px;
left:160px;
}  
#left {   
position:absolute;
width:50px;
height:50px;
bottom:90px;
left:20px;
}    
#up {  
position:absolute;
width:50px;
height:50px;
bottom:160px;
left:90px;
}  

#bottom {  
position:absolute;
width:50px;
height:50px;
bottom:20px;
left:90px;
}  

#treasure div {
    padding: 2em;
  }
  
#treasure .return 
{
	position:absolute; 
	right:5px; 
	bottom:10px; 
}
#totem1_copy, #totem2_copy, #totem3_copy  {
    width: 300px;
    height: 210px;
	display:flex;
	justify-content:center;
	margin-left:100px; 
	display:inline-block;
	background-position:center; 
  }
#totem1_move, #totem2_move, #totem3_move {
	border: 5px solid black;
    width: 300px;
    height: 280px; 
	display:flex;
	justify-content:center;
	margin-left:100px; 
	display:inline-block;
	text-align:center;
  }

#victory video {
  position: absolute;
  right:450px; 
  top:50px; 
  border: 10px solid black;

  
}

#totem1 h1{
	color:white; 
	
}

#totem1 .return 
{
	position:block; 
	color:white; 
	border-color:black; 
	background-color:gray; 
	padding:10px 30px; 
}
#totem2 h1{
	color:white; 
	
}

#totem2 .return 
{
	position:block; 
	color:white; 
	border-color:black; 
	background-color:gray; 
	padding:10px 30px; 
}
#totem3 h1{
	color:white; 
	
}

#totem3 .return 
{
	position:block; 
	color:white; 
	border-color:black; 
	background-color:gray; 
	padding:10px 30px; 
}


#enigmaOne h1{
	color:white; 
}
#enigmaOne h3{
	color:white; 
}

#enigmaOne .return 
{
	position:absolute; 
	right:5px; 
	bottom:10px; 
}

#enigmaTwo .one{
	margin-bottom:5px; 
}
#enigmaTwo .two{
	margin-bottom:5px; 
}


#enigmaTwo .button1 {
    background-color: #FF000;
    Color:white;
    font-weight: bold;
    padding: 35px 35px;
    border-radius: 3px;
    cursor: pointer; 
    text-decoration: none;
}

#enigmaTwo .button2 {
    background-color: #FFA500;
    Color:white;
    font-weight: bold;
    padding: 35px 35px;
    border-radius: 3px;
    cursor: pointer; 
    text-decoration: none;	
}

#enigmaTwo .button3 {
    background-color: #FFFF00;
    Color:white;
    font-weight: bold;
    padding: 35px 35px;
    border-radius: 3px;
    cursor: pointer; 
    text-decoration: none;
}


#enigmaTwo .button4 {
    background-color: #008000;
    Color:white;
    font-weight: bold;
    padding: 35px 35px;
    border-radius: 3px;
    cursor: pointer; 
    text-decoration: none;
}

#enigmaTwo .button5 {
    background-color: #0000FF;
    Color:white;
    font-weight: bold;
    padding: 35px 35px;
    border-radius: 3px;
    cursor: pointer; 
    text-decoration: none;
}

#enigmaTwo .button6 {
    background-color: #7f00ff;
    Color:white;
    font-weight: bold;
    padding: 35px 35px;
    border-radius: 3px;
    cursor: pointer; 
    text-decoration: none;	
}

#enigmaTwo .button7 {
    background-color: #fd6c9e;
    Color:white;
    font-weight: bold;
    padding: 35px 35px;
    border-radius: 3px;
    cursor: pointer; 
    text-decoration: none;
}

#enigmaTwo .button8 {
    background-color: #808080;
    Color:white;
    font-weight: bold;
    padding: 35px 35px;
    border-radius: 3px;
    cursor: pointer; 
    box-shadow: 0 8px 16px 0 grey;
    text-decoration: none;
}

#enigmaTwo .button9 {
    background-color: #000000;
    Color:white;
    font-weight: bold;
    padding: 35px 35px;
    border-radius: 3px;
    cursor: pointer; 
    text-decoration: none;
}


#enigmaTwo h1{
	color:white; 
}
#enigmaTwo h3{
	color:white; 
}

#enigmaTwo .return 
{
	position:absolute; 
	right:5px; 
	bottom:10px; 
}


#enigmaThree h1{
	color:white; 
}
#enigmaThree h3{
	color:white; 
}

#enigmaThree .return 
{
	position:absolute; 
	right:5px; 
	bottom:10px; 
}

#num5{
	position:absolute; 
	color:black; 
	background-color:white; 
	right:140px; 
	bottom:240px; 
}
#num3{
	position:absolute; 
	color:black; 
	background-color:white; 
	right:700px; 
	bottom:40px; 
}
#num1{
	position:absolute; 
	color:black; 
	background-color:white; 
	left:380px; 
	bottom:70px; 
}
#num32{
	position:absolute; 
	color:black; 
	background-color:white; 
	right:840px; 
	bottom:40px; 
}
#lock{
	position:absolute; 
	right:5px; 
	bottom:10px; 
	
}

#rightLock{
	margin-left:400px; 
}
#leftLock
{
	margin-right:400px; 
}
	
#numberOne { 
	color:black; 
    padding: 35px 35px;
    border-radius: 3px;
	position:absolute; 
	left:300px; 
}
#numberTwo { 
	color:black; 
    padding: 35px 35px;
    border-radius: 3px;
	position:absolute; 
	left:600px; 
}
#numberThree { 
	color:black; 
    padding: 35px 35px;
    border-radius: 3px;
	position:absolute; 
	left:900px; 
}
#numberFour { 
	color:black; 
    padding: 35px 35px;
    border-radius: 3px;
	position:absolute; 
	left:1200px; 
}
#noItems
{
	background-color:white; 
	text-align:center; 
	border-color:transparent;
position:absolute; 
right:650px; 	

}
#items
{
	background-color:white; 
	text-align:center; 
	border-color:transparent;	

}
#title
{
background-color:white; 
	text-align:center; 
	border-color:transparent; 
	padding: 20px 50px; 
	font-size:20px; 
}