body
{
	background-image: url("incas.jpg");
	background-attachment: fixed; /* Le fond restera fixe */
    background-position: center; /* Le fond sera placé en haut à droite */
}

h1
{
	color:black; 
	font-family : "Apple Chancery", cursive; 
	text-align:center; 
	box-shadow: 2px 2px 100px black;
}

h2
{
	color:white; 
	font-family : "Apple Chancery", cursive; 
	text-align:center; 
}

h7
{
	color:white; 
	font-family : "Apple Chancery", cursive; 
	position:absolute;
	bottom:0;
	text-align:left; 
}